* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background-image: url(../image/gradient.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------ Header----------------------------- */
header {
  width: 100%;
  height: 70px;
  margin-top: 40px;
}

.container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 150px;
}

.search input {
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  outline-color: #8358ff;
}

.menu {
  display: flex;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  color: #8358ff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
  position: relative;
}

.menu-item:hover {
  color: #8358ff !important;
}

.menu2 {
  font-size: 15px;
  display: none;
  position: absolute;
  top: 100%;
  left: -30px;
  gap: 20px;
  color: #333;
  background-color: #ffffff;
  padding: 30px 15px;
  border-radius: 20px;
  z-index: 100; /* Menünün diğer öğelerin üstünde olmasını sağlar */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.submenu-item {
  padding: 8px 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.submenu-item > .new-tag {
  display: block;
  padding: 5px 6px;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 5px;
  background-color: #10b981;
  color: #ffffff;
}

.submenu-item i {
  padding: 6px;
  border-radius: 50%;
  background-color: rgba(4, 119, 14, 0.342);
  margin-right: 5px;
}

.submenu-item:hover {
  color: #8358ff;
  background-color: #d8d8d8;
  border-radius: 10px;
}

.menu-item:hover .menu2 {
  display: flex;
  z-index: 101;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: black;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  cursor: pointer;
}

.icon:hover {
  background-color: #8358ff;

  i {
    color: #ffffff;
  }
}

.icon i {
  color: inherit;
}
#sectionfor {
  width: 100%;
  margin-top: 50px;
  background-color: #ece8e8;
  .container {
    .title {
      padding: 30px 0;
      h1 {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
      }
    }
    .cards-container1 {
      width: 100%;
      height: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cards1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .card {
          width: 250px;
          height: 350px;
          border-radius: 15px;
          background-color: #ffffff;
          transition: 0.5s;

          a{
            color: #000;
            font-weight: 700;
            transition: 0.3s;
            &:hover{
                color: #6442ca;
            }
          }
          .image {
            display: flex;
            flex-direction: row-reverse;
            margin: 10px 10px;
            gap: 10px;
            padding-top: 10px;
            img {
              border-radius: 15px;
            }
            .img {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 10px;
            }
          }

          .current {
            .titlee {
              display: flex;
              flex-direction: row-reverse;
              align-items: start;
              justify-content: start;
              margin-left: 15px;
            }
          }

          .text {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #000;
              gap: 10px;

              transition: 0.3s;
              &:hover{
                  color: #6442ca;
              }
            }
          }

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
      }
    }
  }
}

.navcontainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;

  .all {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;

    a,
    .art,
    .Collectibles,
    .Domain,
    .Music,
    .Photography,
    .VirtualWorld {
      border: 1px solid rgb(232, 230, 230);
      border-radius: 8px;
      font-size: 13px;
      font-weight: 900;
      padding: 5px 10px;
      color: rgb(85, 85, 85);
      background-color: #ffffff;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: #8358ff;
        color: #ffffff;
      }
    }
  }
}

select {
  width: 200px;
  height: 40px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;

  option {
    font-size: 15px;

    i {
      margin-right: 20px;
    }
  }
}

footer {
  width: 100%;
  padding: 150px 0 50px 0;

  .container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    .left {
      width: 40%;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 30px;
      img {
        width: 150px;
      }

      p {
        color: grey;
      }

      .iconsss {
        width: 100%;
        i {
          font-size: 25px;
          margin-left: 10px;
          color: grey;
          transition: 0.5s;
          &:hover {
            color: #6442ca;
          }
        }
      }
    }

    .righttt {
      width: 60%;
      display: flex;
      align-items: start;
      justify-content: space-between;

      .textttt {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 15px;

        p {
          font-weight: 600;
        }
        a {
          color: grey;
          transition: 0.3s;

          &:hover {
            color: #6442ca;
          }
        }
      }
    }
  }

  .bottommmmm {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
    .bottomtexttt {
      display: flex;
      align-items: center;
      color: gray;
      a {
        color: gray;
        transition: 0.3s;

        &:hover {
          color: #6442ca;
        }
      }
    }
  }
}
